<template>
  <div class="home p-16">
    <div v-for="(space, index) in devices" :key="index" class="my-6">
      <span class="text-3xl font-bold">{{index}}</span> <span class="text-xs pl-3 text-grey-dark font-bold align-middle">{{ space.items.length }} Devices</span>
      <div class="flex flex-wrap justify-center md:justify-start py-10 -mx-4">
        <component v-for="device in space.items" :key="device.topic" :is="device.component" :device="device" />
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue';
import collect from 'collect.js';

export default Vue.extend({
  name: 'home',

  computed: {
    devices(): any {
      const self = this;
      return collect(this.$store.getters['devices/devices'])
              .filter((item): boolean => self.isDeviceActive(item))
              .groupBy('location')
              .all();
    },
  },

  methods: {
    isDeviceActive: (device: any): boolean => {
      if (!device.hasOwnProperty('publishInterval')) {
        return true;
      }

      const lastPublishDate = new Date(device.publishedAt);
      const unpublishedFor = ((new Date()).getTime() - lastPublishDate.getTime()) / 1000;

      return unpublishedFor <= device.publishInterval;
    },
  },

});
</script>
