<template>
  <div style="width:150px;height:150px;" class="bg-red shadow-lg rounded-lg p-5 mx-4">
    Air: {{ device.name }}
  </div>
</template>
<script lang="ts">
import Vue from 'vue';
export default Vue.extend({
  props: {
    device: {
      type: Object,
      required: true,
    },
  },
});
</script>
