<template>
  <div @click="turn(device.state.state==='off' ? 'on' : 'off')" class="cursor-pointer bg-white shadow-lg rounded-lg p-5 m-4 md:w-bubble md:h-bubble w-1/2 h-1/2">
    <img v-if="device.state.state === 'off'" src="@/assets/icons/light-bulb-off.svg" />
    <img v-if="device.state.state === 'on'" src="@/assets/icons/light-bulb-on.svg" />
    <h4 class="pt-3">Light</h4>
    <h5 class="pt-1 text-grey-dark">Turned {{ device.state.state }}</h5>
  </div>
</template>
<script lang="ts">
import Vue from 'vue';
export default Vue.extend({
  props: {
    device: {
      type: Object,
      required: true,
    },
  },
  methods: {
    async turn(state: 'on' | 'off'): Promise<void> {
      await this.$mqttClient.publish(`${this.device.topic}/turn_${state}`, '');
    },
  },
});
</script>
