<template>
    <div @click="openDialog()" style="width:150px;height:150px;" class="cursor-pointer bg-white shadow-lg rounded-lg p-5 m-4">
        <img src="@/assets/icons/mp3-1.svg" style="width: 60px;" />
        <h4 class="pt-3">MP3</h4>
    </div>
</template>
<script lang="ts">
    import Vue from 'vue';
    import Swal from 'sweetalert2';

    export default Vue.extend({
        props: {
            device: {
                type: Object,
                required: true,
            },
        },

        methods: {
            async openDialog(): Promise<void> {
                const {value: url} = await Swal.fire({
                    input: 'url',
                    inputPlaceholder: 'Enter the URL'
                });

                if (url) {
                    this.play(url);
                }
            },
            async play(url: string): Promise<void> {
                await this.$mqttClient.publish(`${this.device.topic}/play`, url);
            },
        },
    });
</script>
