<template>
    <div>
        <div v-for="sound in availableSounds" @click="play(sound.soundFile)" style="display: inline-block; width:150px;height:150px;" class="cursor-pointer bg-white shadow-lg rounded-lg p-5 m-4">
            <img src="@/assets/icons/soundbox1.svg" style="width: 60px;" />
            <h4 class="pt-3">{{ sound.soundName }}</h4>
        </div>
    </div>
</template>
<script lang="ts">
    import Vue from 'vue';

    export default Vue.extend({
        props: {
            device: {
                type: Object,
                required: true,
            },
        },

        computed: {
            availableSounds(): any {
                let sounds: object[] = [];
                this.device.metadata.files.forEach(function(file: string) {
                    let filename: string = file.substring(file.lastIndexOf('/') + 1, file.lastIndexOf('.'));
                    sounds.push({
                        soundName: filename,
                        soundFile: file
                    });
                    }
                );

                return sounds;
            }
        },

        methods: {
            async play(url: string): Promise<void> {
                await this.$mqttClient.publish(`${this.device.topic}/play_sound`, url);
            },
        },

    });
</script>
