<template>
  <div style="width:150px;height:150px;" class="bg-white shadow-lg rounded-lg p-5 m-4">
    Sound: {{ device.name }}
    <button @click="play()" class="border border-black p-2">Play</button>
  </div>
</template>
<script lang="ts">
import Vue from 'vue';
export default Vue.extend({
  props: {
    device: {
      type: Object,
      required: true,
    },
  },
  methods: {
    async play(): Promise<void> {
      await this.$mqttClient.publish(`${this.device.topic}/play_sound`, 'http://www.hochmuth.com/mp3/Beethoven_12_Variation.mp3');
    },
  },
});
</script>
