<template>
    <div @click="openDialog()" style="width:150px;height:150px;" class="cursor-pointer bg-white shadow-lg rounded-lg p-5 m-4">
        <img src="@/assets/icons/speech1.svg" style="width: 60px;" />
        <h4 class="pt-3">TTS</h4>
    </div>
</template>
<script lang="ts">
    import Vue from 'vue';
    import Swal from 'sweetalert2';

    export default Vue.extend({
        props: {
            device: {
                type: Object,
                required: true,
            },
        },

        methods: {
            async openDialog(): Promise<void> {
                const {value: formValues} = await Swal.fire({
                    title: 'Insert text and language for speech',
                    html:
                        '<input id="text" class="swal2-input">' +
                        '<select id="lang" class="swal2-select">' +
                        '<option value="en">English</option>' +
                        '<option value="en-US">American English</option>' +
                        '<option value="pt">Portuguese</option>' +
                        '<option value="de">German</option>' +
                        '<option value="es">Spanish</option>' +
                        '<option value="pt-BR">Brazilian</option>' +
                        '</select>',
                    focusConfirm: false,
                    preConfirm: () => {
                        return [
                            (<HTMLInputElement>document.getElementById('text')).value,
                            (<HTMLInputElement>document.getElementById('lang')).value,
                        ]
                    },
                });

                if (formValues) {
                    const payload = {
                        text: formValues[0],
                        lang: formValues[1],
                    };
                    this.play(payload);
                }
            },
            async play(options: object): Promise<void> {
                await this.$mqttClient.publish(`${this.device.topic}/speak`, JSON.stringify(options));
            },
        },
    });
</script>
